.home_bg{
    background-color: darkblue;
    color: white;
}

/* .active_link {
    color: white;
    background-color: #CC9933 !important;
    width: 80px;
    text-align: center;
    border-radius: 30px;
    
  } */

  @media (min-width: 320px) and (max-width: 767.98px) {

  .f-10{
    font-size: 8px;
  }

  .f16{
    font-size: 11px;
  }

  .px-4{
    padding: 6px 5px !important;
  }
  .px-2{
    padding: 6px 5px !important;
  }
}